<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>404-未知领域</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"/>
    <link rel="stylesheet" href="/css/basic.css"/>
</head>
<body>
<div id="app">
    <div class="background">
        <img :src="asideImg" width="100%" height="100%" alt=""/>
    </div>

    <div class="front">
        <el-card class="box-card">
            <span slot="header" class="title">警告</span>

            <p>世事无常，服务总会有出错的时候。</p>

            <el-link href="#" type="info">执迷不悟</el-link>
            <el-link href="javascript:history.go(-1);" type="primary">回头是岸</el-link>
        </el-card>
    </div>
</div>

<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            asideImg: '/img/pic1.jpg',
        }
    })
</script>
</body>
</html>