html, body, #app {
    margin: 0;
    padding: 0;
}

.background {
    width: 100%;
    height: 100%; /**宽高100%是为了图片铺满屏幕 */
    z-index: -1;
    position: absolute;
    overflow: hidden;
    margin: 0;
}

.front {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}
.box-card {
    width: 400px;
    margin: 0 auto;
    margin-top: 15%;
    background-color: rgba(200,200,200,0.5);
    border-color: rgba(200,200,200,0.5);
    border-radius: 10px;
}
.title {
    text-align: center;
    font-size: 24px;
    color: rgba(50,50,50,0.8);
}