<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>权限首页</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"/>
</head>
<body>
<div id="app">
    <div>
        <hello></hello>
    </div>
</div>

<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    var vm =new Vue({
        el: '#app',
        data: {
        },
        methods: {
        },
        components: {
            'hello': {
                template: '<h1>{{ message }}</h1>',
                data() {
                    return {
                        message: 'hello'
                    }
                }
            }
        }
    })
</script>
</body>
</html>