<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.houbb.system.mapper.WordTagMappingMapper">
    
    <resultMap type="WordTagMapping" id="WordTagMappingResult">
        <result property="id"    column="id"    />
        <result property="word"    column="word"    />
        <result property="tagCode"    column="tag_code"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectWordTagMappingVo">
        select id, word, tag_code, create_by, update_by, create_time, update_time from word_tag_mapping
    </sql>

    <select id="selectWordTagMappingList" parameterType="WordTagMapping" resultMap="WordTagMappingResult">
        <include refid="selectWordTagMappingVo"/>
        <where>  
            <if test="word != null  and word != ''"> and word = #{word}</if>
            <if test="tagCode != null  and tagCode != ''"> and tag_code = #{tagCode}</if>
            <if test="updateBy != null  and updateBy != ''"> and update_by = #{updateBy}</if>
            <if test="updateTime != null "> and update_time = #{updateTime}</if>
        </where>
    </select>
    
    <select id="selectWordTagMappingById" parameterType="Long" resultMap="WordTagMappingResult">
        <include refid="selectWordTagMappingVo"/>
        where id = #{id}
    </select>

    <insert id="insertWordTagMapping" parameterType="WordTagMapping" useGeneratedKeys="true" keyProperty="id">
        insert into word_tag_mapping
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="word != null and word != ''">word,</if>
            <if test="tagCode != null and tagCode != ''">tag_code,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="word != null and word != ''">#{word},</if>
            <if test="tagCode != null and tagCode != ''">#{tagCode},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateWordTagMapping" parameterType="WordTagMapping">
        update word_tag_mapping
        <trim prefix="SET" suffixOverrides=",">
            <if test="word != null and word != ''">word = #{word},</if>
            <if test="tagCode != null and tagCode != ''">tag_code = #{tagCode},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWordTagMappingById" parameterType="Long">
        delete from word_tag_mapping where id = #{id}
    </delete>

    <delete id="deleteWordTagMappingByIds" parameterType="String">
        delete from word_tag_mapping where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>